
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    display: grid;
    text-align: center;
    align-items: center;
    align-content: center;
    grid-template-columns: auto auto auto;
    background-color: white;
}


.grid-title {
    font-size: 15px;
    margin: 5px;
}

input {
    width: 200px;
    font-size: 20px;
}

svg {
    padding: 10px;
}

main {
    margin-top: 200px;
    display: grid;
    grid-template-columns: 20% 40% 20% 20%;
    text-align: center;
    grid-template-rows: auto;
}

.grid-item {
    justify-content: center;
    background-color: rgba(101, 191, 150, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    margin: 20px;
    line-height: 75px;
}

aside {
    padding: 100px;
    align-content: center;
    position: fixed;
}

.aside {
    display: inline-block;
    text-align: left;
}

.aside2 {
    text-align: right;
}

img {
    width: 80%;
    height: auto;
}


input[type=text] {
    width: 200px;
    border: 2px;
    border-radius: 6px;
    font-size: 16px;
    background-color: rgba(195, 192, 192, 0.473);
    background-position: 10px 10px;
    padding: 12px 20px 12px 40px;
}

.instagram {
    width: 120px;
    margin-left: 20px;
}

.icon {
    padding-left: 25px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 20px;
}
