

h1 {
    text-align: center;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

img {
    width: 100%;
}

.grid-container {
    display: flex;
    justify-content: center;
}

.grid-item {
    background-color: rgba(101, 191, 150, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    width: 75rem;
    margin: 0.25rem;
}

@media (min-width: 600px) {
    h1 { font-size: 4rem; }
    h2 { font-size: 3rem; }
    p { font-size: 2rem; }
    img { font-size: 2rem; }
    .grid-item {
        text-align: center;
        width: 80rem;
        margin: 0.3rem;
    }
}

@media (min-width: 900px) {
    h1 { font-size: 5rem; }
    h2 { font-size: 4rem; }
    p { font-size: 3rem; }
    img { font-size: 3rem; }
    .grid-item {
        text-align: center;
        width: 85rem;
        margin: 0.35rem;
    }
}

@media (min-width: 1200px) {
    h1 { font-size: 6rem; }
    h2 { font-size: 5rem; }
    p { font-size: 4rem; }
    img { font-size: 4rem; }
    .grid-item {
        text-align: center;
        width: 90rem;
        margin: 0.4rem;
    }
}

@media (min-width: 1500px) {
    h1 { font-size: 7rem; }
    h2 { font-size: 6rem; }
    p { font-size: 5rem; }
    img { font-size: 5rem; }
    .grid-item {
        text-align: center;
        width: 95rem;
        margin: 0.45rem;
    }
}

@media (min-width: 1800px) {
    h1 { font-size: 8rem; }
    h2 { font-size: 7rem; }
    p { font-size: 6rem; }
    img { font-size: 6rem; }
    .grid-item {
        text-align: center;
        width: 100rem;
        margin: 0.5rem;
    }
}
